.git
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.dvc
.dvcignore
.env
.venv
venv
env
node_modules
airflow
data
finetune
logs
airflow/logs
mlruns
mlflow.db
mlflow_docker.db
models
monitoring/alertmanager-0.32.0.darwin-arm64
monitoring/alertmanager-0.32.0.darwin-arm64.tar.gz
reports
reports_finetune
tests
