venv/
.DS_Store
*.zip
/models
#check once
__pycache__/
*.pyc
mlruns/
mlflow.db
data/
.DS_Store
# Runtime files
failure.json
inference_metrics.json

# Data folders (tracked by DVC instead)
data/feedback/unlabeled/
data/feedback/unlabeled_ood/
data/feedback/labelled/

# Those random DVC cache folders
data/01K*/
data/chunks_head/

# Python
__pycache__/
*.pyc
.env
airflow/logs

# add to .gitignore
mlflow_docker.db
mlflow.db
mlruns/
reports_finetune/
finetune/run_id.txt
finetune/production_model.pth
finetune/.gitignore
src/dvc_snapshot.sh  

logs/

docs/
